@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {font-family: 'Pretendard-Regular', sans-serif; font-size: 1.1rem;}
.page-breadcrumb .breadcrumb {font-size: 1rem;}
.ui-timepicker-standard a {font-size: 16px;}
.table-condensed {width: 100%;}

.form-group.custom label {display: flex;}
.table-sm td,.table-sm th {
    padding: .5rem;
}
.table-sm.custom td {border-bottom: 1px solid #e9e9e9;}
table th.bg-gray, table td.bg-gray {
    background: #e9e9e9;
}

.table.custom {border-bottom: 1px solid #e8eef3; }
.img-box { width: 200px; height: 150px; overflow: hidden;}
.img-box > img { width:100%; height:100%; object-fit:cover;}

.custom-list {list-style: none; display: flex; padding: 20px 0 0 0; flex-wrap: wrap;}
.custom-list li {width: 20%; text-align: center; border: 1px solid #e9e9e9; }
.custom-list li a {width: 100%; display: block; padding: 10px 0;}
.custom-list li a:hover { background: #e9e9e9; }

.valid-feedback { display: block; font-size: 90%; }

.select-size { width: 45%; display: inline; }

.padding-size-sm td { padding:10px; }

.padding-0 { padding:0; }

.custom-file label.custom::after {content: none;} 
.file-img-wrap {width: 480px; height: 270px;}
.file-img-wrap img {object-fit: contain; width: 100%; height: 100%;}

.custom-input-icon { position: relative;}
.custom-input-icon > span {position: absolute; top: 50%; left: 85%; transform: translateY(-50%); z-index: 100;}
.custom-input-icon .form-control { background: #fff;}

#keywordArea { margin: 1rem 0; padding: 0 0 1rem 0; border-bottom: 1px solid #eee; list-style: none; display: flex; flex-wrap: wrap;}
#keywordArea p {margin-bottom: 0; font-size: 1rem;}
#keywordArea button {border :none; margin-bottom: 5px; margin-right: 5px;}

.scroll-box .nav-link {padding: 1rem; border: none; outline: none;}
.scroll-box { overflow-y: auto; height: 200px; border: 1px solid #e3e3e3; padding: 20px; font-size: 16px;}
.scroll-box a { color: black ; display: block;}

.modal-body ul.scroll-box {list-style: none;}
.modal-body ul.scroll-box li {display: contents;}
.modal-body ul.scroll-box li button {outline: none; border: none; width: 32%; padding: 5px 10px; background: none;}
.modal-body ul.scroll-box li button:hover {background: #e3e3e3;}

#sPointPop.active {
    color: #495057;
    border: 2px solid #5f76e8;
    outline: none;
}

#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav ul .sidebar-item .sidebar-link {
	color: #333;
}
#main-wrapper[data-layout=vertical] .left-sidebar[data-sidebarbg=skin6] .sidebar-nav ul .sidebar-item .sidebar-link .feather-icon {
	color: #777;
}